<% title @page.name %>

<% unless @page.publish %>
  <p class="unpublished">Unpublished</p>
<% end %>

<% if policy(@page).edit? && policy(@page).destroy? %>
  <ul class="administration">
    <li><%= link_to 'Edit Page', edit_page_path(@page) %></li>
    <li><%= link_to 'Delete Page', @page, data: { confirm: 'Are you sure you want to delete this page?' }, method: :delete %></li>
  </ul>
<% end %>

<%= raw markdown_to_html @page.content %>
