input[type="text"], input[type="email"], input[type="password"] {
  width: 580px;
  font-size: 14px;
  padding: 10px;
  margin-bottom: 10px;
}

textarea {
  width: 580px;
  height: 300px;
  font-size: 14px;
  padding: 10px; 
  margin-bottom: 10px;
}