body {
  color: black;
  font-family: Georgia, Verdana;
  background-color: white;
  font-size: 16px;
  line-height: 2;
  
  div#overall {
    width: 1000px;
    margin: 0 auto;
    margin-top: -10px;
    border: 0;
    
    div#container {
      background-color: #EEEEEE;
      width: 600px;
      margin: 0 auto;
      border-radius: 5px;
      padding: 50px;
      
      header {
        margin-top: -10px;
        width: 600px;
        
        h1 {
          font-size: 40px;
          margin-top: 4px;
          margin-bottom: 30px;
          text-transform: uppercase;
          text-align: center;
        }
      }
      
      nav {
        margin-top: 30px;
        margin-bottom: 60px;
        width: 600px;
        
        ul {
          padding-left: 0;
        }

        li {
          display: inline;
          padding-right: 10px;
        }
      }
      
      article {
        width: 600px;

        h2 {
          font-size: 24px;
          margin-top: -25px;
        }

        h3 {
          margin-top: 30px;
          margin-bottom: 20px;
        }
        
        p {
          margin-top: 20px;
        }

        img {
          margin-top: 12px;
        }
      }
      
     footer {
        margin-top: 40px;
        margin-bottom: -15px;
        width: 600px;
      }      
    }
  }
}
